/* Establece el ancho y la altura del control deslizante */

input[type="range"].range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: grey;

  border-radius: 50%;
  cursor: pointer;
  margin-top: -15px;
  pointer-events: none;
}

input[type="range"].range-green::-webkit-slider-thumb {
  background: greenyellow;
  margin-top: -15px;
}
input[type="range"].range-yellow::-webkit-slider-thumb {
  background: yellow;
  margin-top: -15px;
}
input[type="range"].range-red::-webkit-slider-thumb {
  background: red;
  margin-top: -15px;
}
