.sombra {
  box-shadow: 4px 4px black;
}

ul::-webkit-scrollbar {
  -webkit-appearance: none;
}

ul::-webkit-scrollbar:vertical {
  width: 4px;
}
ul::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}
